@model IEnumerable<CodersGrill.Models.TextContent>

@{
    ViewData["Title"] = "Home Page";
}

@* SECTION 1 *@
<header>
    <div>
        @Model.Where(tc => tc.Section == 1 && tc.ContentType == "Main Header").Select(tc => Html.Raw(tc.HtmlContent)).FirstOrDefault()
    </div>
    <div>
        <nav>
            @Html.Raw(Model.Where(tc => tc.Section == 1 && tc.ContentType == "Navigation").ElementAtOrDefault(0)?.HtmlContent)
            @Html.Raw(Model.Where(tc => tc.Section == 1 && tc.ContentType == "Navigation").ElementAtOrDefault(1)?.HtmlContent)
            @Html.Raw(Model.Where(tc => tc.Section == 1 && tc.ContentType == "Navigation").ElementAtOrDefault(2)?.HtmlContent)
        </nav>
    </div>
    <div>
        <form action="#">
            <input type="text" name="search-bar" id="search" placeholder="Search our menu...">
            <button><img src="~/images/0-header/search.svg" alt="Click here to search"></button>
        </form>
    </div>
</header>
<br>
@* SECTION 2 *@
<main>
    <div class="image-slider single-item">
        <div class="slider-1-img">
            <img src="~/images/1-sliding-images/large-view.jpg" alt="Our Restaurant">
        </div>
        <div class="slider-1-img">
            <img src="~/images/1-sliding-images/small-view.jpg" alt="Our Restaurant">
        </div>
        <div class="slider-1-img">
            <img src="~/images/1-sliding-images/kitchen.jpg" alt="Our Chef cooking away in the kitchen">
        </div>
    </div>
    <div class="chefs-recommendations">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Header").Select(tc => tc.HtmlContent).FirstOrDefault())
                <div class="cell small-12 medium-6 large-3">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Name").ElementAtOrDefault(0)?.HtmlContent)
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/chicken.jpg" alt="Our Sunday Roast">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Description").ElementAtOrDefault(0)?.HtmlContent)
                    <a class="button" href="#">Take a look...</a>
                </div>
                <div class="cell small-12 medium-6 large-3">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Name").ElementAtOrDefault(1)?.HtmlContent)
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/steak.jpg" alt="Our Steak Selections">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Description").ElementAtOrDefault(1)?.HtmlContent)
                    <a class="button" href="#">Take a look...</a>
                </div>
                <div class="cell small-12 medium-6 large-3">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Name").ElementAtOrDefault(2)?.HtmlContent)
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/duck.jpg" alt="Our Duck Delicacy">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Description").ElementAtOrDefault(2)?.HtmlContent)
                    <a class="button" href="#">Take a look...</a>
                </div>
                <div class="cell small-12 medium-6 large-3">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Name").ElementAtOrDefault(3)?.HtmlContent)
                    <img class="custom-img" style="width: 100px !important;" src="~/images/2-meal-images/vegan.jpg" alt="Our Vegan Feast">
                    @Html.Raw(Model.Where(tc => tc.Section == 2 && tc.ContentType == "Description").ElementAtOrDefault(3)?.HtmlContent)
                    <a class="button" href="#">Take a look...</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    @* SECTION 3 *@
    <div class="special-offers">
        <div class="grid-container">
            <div class="grid-x grid-margin-x">
                @Html.Raw(Model.Where(tc => tc.Section == 3 && tc.ContentType == "Header").Select(tc => tc.HtmlContent).FirstOrDefault())
                <a href="#">
                    <div class="cell small-12 medium-6 large-6">
                        <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/burgers.jpg" alt="Burger Bonanza">
                        @Html.Raw(Model.Where(tc => tc.Section == 3 && tc.ContentType == "Description").ElementAtOrDefault(0)?.HtmlContent)
                    </div>
                </a>
                <a href="#">
                    <div class="cell small-12 medium-6 large-6">
                        <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/bbq.jpg" alt="BBQ Chow Down">
                        @Html.Raw(Model.Where(tc => tc.Section == 3 && tc.ContentType == "Description").ElementAtOrDefault(1)?.HtmlContent)
                    </div>
                </a>
                <a href="#">
                    <div class="cell small-12 medium-6 large-6">
                        <img class="custom-img" style="width: 100px !important;" src="~/images/3-special-offers/platter.jpg" alt="Family Platters">
                        @Html.Raw(Model.Where(tc => tc.Section == 3 && tc.ContentType == "Description").ElementAtOrDefault(2)?.HtmlContent)
                    </div>
                </a>
                <a class="button" href="#">View All Offers</a>
            </div>
        </div>
    </div>
    <br />
    @*SECTION 4*@
    <div class="meal-categories">
        <div class="grid-container">
            @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Header").Select(tc => tc.HtmlContent).FirstOrDefault())
            <div class="image-slider-2 single-item grid-x grid-margin-x">
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/starters.jpg" alt="Starters">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(0)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/main.jpg" alt="Mains">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(1)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/desserts.jpg" alt="Desserts">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(2)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/vegetarian.jpg" alt="Vegan/Vegetarian">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(3)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/sides.jpg" alt="Sides">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(4)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/kids-menu.jpg" alt="Kids' Menu">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(5)?.HtmlContent)
                </div>
                <div class="cell small-6 medium-3 large-3">
                    <img class="custom-img" style="width: 100px !important;" src="~/images/4-category-images/beverages.jpg" alt="Drinks & Beverages">
                    @Html.Raw(Model.Where(tc => tc.Section == 4 && tc.ContentType == "Name").ElementAtOrDefault(6)?.HtmlContent)
                </div>
            </div>
        </div>
    </div>
</main>
<br>
@*SECTION 5*@
<footer>
    <div>
        @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Information").ElementAtOrDefault(0)?.HtmlContent)
    </div>
    <div>
        <nav>
            @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Navigation").ElementAtOrDefault(0)?.HtmlContent)
            @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Navigation").ElementAtOrDefault(1)?.HtmlContent)
            @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Navigation").ElementAtOrDefault(2)?.HtmlContent)
        </nav>
        @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Information").ElementAtOrDefault(1)?.HtmlContent)
    </div>
    <div>
        @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Information").ElementAtOrDefault(2)?.HtmlContent)
        @Html.Raw(Model.Where(tc => tc.Section == 5 && tc.ContentType == "Information").ElementAtOrDefault(3)?.HtmlContent)
    </div>
    <div>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/facebook.svg" alt="Our Facebook"></a>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/instagram.svg" alt="Our Instagram"></a>
        <a href="#"><img class="custom-img" style="width: 20px !important;" src="~/images/5-icons/twitter.svg" alt="Our Twitter"></a>
    </div>
</footer>