<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewData["Title"] - The Coders Grill</title>
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/foundation.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/custom-classes.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/rules.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/slick.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/slick-theme.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/carousels.css")" />
        <link type="text/css" rel="stylesheet" href="@Url.Content("~/css/admin-dashboard.css")" />
    </head>
    <body>
        @RenderBody()

        <script type="text/javascript" src="@Url.Content("~/js/jquery.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/foundation.js")"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/jquery-migrate-3.3.2.min.js"></script>
        <script type="text/javascript" src="@Url.Content("~/js/slick.js")"></script>
        <script type="text/javascript" src="@Url.Content("~/js/site.js")"></script>

        @RenderSection("Scripts", required: false)
    </body>
</html>